* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar .container .navbar-brand {
  font-size: 30px;
}

/* .navbar .navbar-nav li a {
  color: white;
  margin-left: 15px;
}
.navbar .navbar-nav li a:hover {
  color: crimson;
} */

.jumbotron {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(204, 24, 60, 0.192)),
    /* #02f8e083 */ url(image/background.jpeg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  align-items: center;
}

.jumbotron h1 {
  display: block;
  color: white;
  width: fit-content;
  font-size: 3rem;
  position: relative;
}

.jumbotron .home-content h1 {
  font-style: italic;
}

.jumbotron .home-content .text span {
  font-size: 2rem;
}

.jumbotron .home-content a {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid crimson;
}

section a:hover:not(.jumbotron) {
  color: white;
  background: none;
}

.text span {
  color: rgb(255, 0, 0);
}
/* akhir home page */

/* about me */

#about .col-md-8 h1 {
  letter-spacing: 0.3rem;
  font-size: 3rem;
}

#about .col-md-8 h2 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}

#about .about-image img {
  position: relative;
  width: 100%;

  /* border: 10px solid red;
  border-style: solid;
  border-width: 20px 0px 0px 20px; */
  box-shadow: -15px -15px 3px crimson;
}

#about .col-md-8 p {
  font-size: 1.1rem;
}

/* akhir about me */
/* my teams */

.container #container-cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container #container-cards .cards {
  position: relative;
  width: 300px;
  height: 400px;
  background: linear-gradient(
    crimson,
    crimson 30%,
    rgba(31, 30, 30) 30%,
    rgba(31, 30, 30)
  );
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.container #container-cards .cards .background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 100000;
  transform-origin: top;
  border-radius: 10px;
  overflow: hidden;
}

.container #container-cards .cards:hover .background-img {
  transform: translateY(20px) scale(0.5);
}

.container #container-cards .cards .background-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container #container-cards .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20%;
  transform: translateY(50%);
  transition: 0.5s;
}

.container #container-cards:hover .content {
  transform: translateY(0);
}

.container #container-cards .content .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container #container-cards .content h2 {
  font-size: 2rem;
  font-weight: 500;
}

.container #container-cards .content h2 span {
  font-size: 1.2rem;
}
/* akhir my teams */
